@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

body {
    height: 100vh;
    background-image:url(./assets/img/background-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


        /* NAVBAR SECTION */

.header {
    height: 70px;
    width: 100%;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: transparent;
    transition: background-color 0.8s ease-out;
}

 .header img {
    height:35px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 55px;
}

.navbar-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    transition: all 0.2s ease-out;
}


        /* HERO SECTION */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    max-width: 1366px;
    display: flex;
    align-items: flex-end;
    height: 680px;
    padding: 100px;
}

.title h1 {
    color: white;
    font-size: 40px;
}


        /* CARDS SECTION */

#novedades {
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.news {
    display: flex;
    flex-direction: column;
    padding: 70px 50px 150px;
    width: 90%;
}

.section-title {
    padding: 0 0 60px 0;
}

.section-title h2 {
    font-size: 45px;
    font-family: 'Lexend Zetta';
    font-weight: 800;
    padding: 0 0 0 15px;
    letter-spacing: -5px;
}

.section-title hr {
    width: 900px;
    height: 2px;
    border: 0;
    background-color: #000000;
}

.product-container{ 
    display: flex;
    align-items: center;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding: 15px;
    max-width: 320px;
    border: 1px solid black;
}

.card-button {
    background-color: black;
    color: white;
    padding: 15px 0;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
}


        /* ABOUT US SECTION */

#about {
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:url(./assets/img/background-about-us.png);
    background-repeat: no-repeat;
    width: 100%;
}

.about-section {
    display: flex;
    flex-direction: column;
    padding: 70px 50px;
    width: 90%;
}

.about-section .section-title h2 {
    color: white;
}

.about-section .section-title hr {
    background-color: white;
}

.text-container {
    max-width: 1366px;
    display: flex;
    gap: 80px;
    width: 90%;
    justify-content: space-between;
}

.text-container img {
    width: 420px;
}

.section-info{
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.section-info h1{
    text-transform: uppercase;
    color: white;
    font-size: 55px;
    line-height: 70px;
}

.span-title {
    font-style: italic;
    padding: 2px 20px 1px 9px;
    background-color: #f2ff43;
    color: black;
}

.about-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 327px;
    color: black;
    padding: 0 80px ;
    background-color: #dddddd;
    border: 1px solid rgba(0, 0, 0, 0.459);
}

.about-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

.span-text-one {
    font-style: italic;
    font-weight: 600;
    font-size: 19px;
}

.span-text-two {
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
}