@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}

        /* SCROLL */
html {
    scroll-behavior: smooth;
}


body {
    height: 100vh;
    background-image:url(./assets/img/background-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



        /* NAVBAR SECTION */

.header {
    z-index: 999;
    height: 70px;
    width: 100%;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: transparent;
    transition: background-color 0.8s ease-out;
}

 .header img {
    height: 35px;
}

.burger-menu {
    display: none;
}

.menu{
    list-style: none;
    display: flex;
    gap: 55px;
}

.navbar-link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 13px;
    transition: all 0.2s ease-out;
}

.register ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.register img {
    width: 30px;
    cursor: pointer;
}

.cart-bubble {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 50px;
    padding: 3px 7px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    background-color: #f2ff43;
    color: black;
}



        /* CART SECTION */
.cart {
    position: absolute;
    top: 70px;
    right: 0;
    padding: 50px 30px;
    background: white;
    border-left: 0.7px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    min-width: 375px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    padding: 0 0 0 15px;
    color: rgb(26, 26, 26);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f0f0f09a;
}

.cart-item img {
    width: 70px;
    height: 80px;
}

.item-info {
    display: flex;
    flex-direction: column;
    min-width: 110px;
    gap: 2px;
}

.item-title {
    color: rgb(45, 45, 45);
    font-weight: 500;
    font-size: 14px;
}

.item-price {
    color: rgb(20, 20, 20);
    font-size: 16px;
    font-weight: 700;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.item-quantity {
    color: rgb(56, 56, 56);
}

.up,
.down {
    border: 1px solid black;
} 

.divider {
    margin-top: 20px;
    border: 1px solid rgb(99, 99, 99);
    width: 100%;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.cart-total p {
    color: black;
    font-weight: 600;
    font-size: 15px;
}

.cart-total span {
    color: black;
    font-weight: 400;
    font-size: 18px;
}

.empty-msg {
    color: rgb(60, 60, 60);
    font-size: 14px;
    font-weight: 400;
}

.btn-buy,
.btn-delete {
    border: none;
    cursor: pointer;
    padding: 12px 35px;
    border-radius: 1px;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.2s all ease-out;
}

.btn-buy {
    background: black;
    color: white;
    font-weight: 400;
}

.btn-buy:hover {
    background: rgb(53, 53, 53);
    transition: 0.2s all ease-in;
}

.btn-buy,
.btn-delete {
    width: 100%;
}

.btn-delete {
    border: 1px solid black;
    background-color: transparent;
}

.btn-delete:hover {
    background: black;
    color: white;
    transition: 0.2s all ease-in;
}

.open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}



        /* HERO SECTION */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    max-width: 1366px;
    display: flex;
    align-items: flex-end;
    height: 680px;
    padding: 100px;
}

.title h1 {
    color: white;
    font-size: 40px;
}



        /* CARDS SECTION */

#novedades {
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.news {
    display: flex;
    flex-direction: column;
    padding: 70px 50px 150px;
    width: 90%;
}

.section-title {
    padding: 0 0 60px 0;
}

.news .section-title {
    padding: 0 0 15px 0;
}

.section-title h2 {
    font-size: 45px;
    font-family: 'Lexend Zetta';
    font-weight: 800;
    padding: 0 0 0 15px;
    letter-spacing: -5px;
}

.section-title hr {
    width: 900px;
    height: 2px;
    border: 0;
    background-color: black;
}

.cards-categories {
    padding: 30px;
    display: flex;
    gap: 15px;
}

.category {
    padding: 10px 25px;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.active {
    border: none;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 10.6px 25.6px;
}

.product-container{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-card {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 12px;
    padding: 15px;
    max-width: 320px;
    border: 1px solid black;
    transition: all 0.3s ease-in;
}

.card img {
    width: 290px;
    transition: all 0.4s ease-out;
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    align-content: space-between;
    padding: 5px 0;
}

.title-card {
    width: 150px;
}

.title-card h3 {
    font-weight: 500;
    font-size: 17px;
}

.price-card {
    font-weight: 600;
    font-size: 18px;
}

.btn-add {
    cursor: pointer;
    border: none;
    padding: 15px 0;
    background-color: black;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}

.load-container {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

.btn-load {
    background-color: white;
    border: 1px solid black;
    padding: 15px 50px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.1s ease-out;
}


        /* ABOUT US SECTION */

#about {
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:url(./assets/img/background-about-us.png);
    background-repeat: no-repeat;
    width: 100%;
}

.about-section {
    display: flex;
    flex-direction: column;
    padding: 55px 50px;
    width: 90%;
}

.about-section .section-title h2 {
    color: white;
}

.about-section .section-title hr {
    background-color: white;
}

.text-container {
    max-width: 1366px;
    display: flex;
    gap: 80px;
    width: 90%;
    justify-content: space-between;
}

.about-responsive {
    display: none;
}

.about-img {
    width: 420px;
}

.section-info{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.section-info h1{
    text-transform: uppercase;
    color: white;
    font-size: 55px;
    line-height: 70px;
}

.span-title {
    font-style: italic;
    padding: 2px 20px 1px 9px;
    background-color: #f2ff43;
    color: black;
}

.about-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 327px;
    color: black;
    padding: 0 80px ;
    background-color: #dddddd;
    border: 1px solid rgba(0, 0, 0, 0.459);
}

.about-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

.span-text-one {
    font-style: italic;
    font-weight: 600;
    font-size: 19px;
}

.span-text-two {
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
}


        /* CONTACT US SECTION */

#contact{
    padding: 110px 10px 35px 10px;
    max-width: 1366px;
    background-image: url(./assets/img/background-contact-us.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
}

#contact .section-title {
    padding: 0 0 50px 150px;
}

.content-contact{
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid-area{
    display: grid;
    grid-template-areas:
    "form maps"
    "form maps"
    "form social"
    ;
    gap: 40px;
}

.form{
    grid-area: form;
}

.form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form input{
    padding: 10px 20px;
    width: 575px;
    height: 45px;
    outline: none;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.65);
    margin: 0 0 10px;
    font-size: 15px;
}

.namemail {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 575px;
    margin-top: 15px;
}

#mensaje{
    padding: 23px 80px 330px 20px;
}


.form button{
    cursor: pointer;
    outline: none;
    border: none;
    padding: 12px;
    width: 575px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    background-color:black;
    color: white;

}

.contact-subtitle {
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 0 0 8px 0;
}

.contact-subtitle hr {
    border: 0;
    width: 70px;
    height: 3.5px;
    background-color: black;
}

.contact-subtitle h2 {
    font-size: 27px;
    font-weight: 800;
    font-style: italic;
}

.maps-container{
    grid-area: maps;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.maps {
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid black;
    padding: 20px 77px;
}

.social{
    grid-area: social;
    width: 575px;
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


.social .contact-subtitle {
    justify-content: start;
    width: 575px;
}


.grid-social{
    display: grid;
    grid-template-areas:
    "facebook instagram"
    "twitter email"
    ;
    gap: 27px;
    width: 575px;
}

.facebook{
    grid-area: facebook;
}

.instagram{
    grid-area: instagram;
}

.twitter{
    grid-area: twitter;
}

.email{
    grid-area: email;
}

.cards-container{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid black;
}

.cards-container img{
    width: 40px;

}

.info-media p{
    color: rgb(0, 0, 0);
    font-size: 15px;
}



        /* FOOTER SECTION */

footer {
    max-width: 1366px;
    padding: 70px 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
}

.newsletter {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 0 60px 0;
}

.email-title {
    color:white;
    text-transform: uppercase;
}

.email-title h3 {
    font-size: 17px;
}

.email-nw {
    display: flex;
    gap: 12px;
}

.email-nw input {
    padding: 8px;
    width: 340px;
    outline: none;
    border: 1px solid #f2ff43;
    background-color: white;
    font-size: 15px;
}

.email-nw button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px;
    width: 170px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;

}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 60px;
}

.footer-logo {
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 220px;
}

.links-container {
    display: flex;
    align-content: space-between;
    align-items: start;
    gap: 80px;
}

.footer-links h3{
    color: white;
    text-transform: uppercase;
    padding: 0 0 8px 0;
    font-size: 15px;
}

.footer-links ul{
    list-style: none;
}

.footer-links a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 4px;
    font-size: 14px;
}

.hues-dr{
    margin-top: 20px;
    color: white;
    padding: 25px;
    width: 100%;
    font-size: 14px;
}


        /* SUCCESS MESSAGE */
.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}
    
.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}

.disabled {
    cursor: not-allowed;
    border: none;
    background-color: #d6d6d6;
    color: white;
}

.disabled:hover {
    cursor: not-allowed;
    border: none;
    background-color: #d6d6d6;
    color: white;
}