@media (max-width:991.98px){

            /* BACKGROUND BODY */
    body {
        background-size: 100%;
        background-image: url(../img/mediaqueries-hero.png);
    }

            /* TITLE SECTION */
    .section-title hr {
        width: 650px;
    }


            /* MENU BURGER */
    .header-logo {
        height: 45px;
        position: absolute;
        left: 160px;
    }

    .burger-menu {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 45px;
    }

    .menu {
        position: fixed;
        top: 60px;
        left: 0;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: black;
        padding: 50px 40px;
        z-index: 2;
        display: none;
    }

    .open-menu {
        display: flex;
    }


        /* CARDS SECTION */
    .cards-categories {
        padding: 25px 0;
    }

    .products-card {
        gap: 35px;
    }

    .card {
        gap: 10px;
        padding: 15px;
        max-width: 300px;
        justify-content: space-between;
    }

    .card img {
        width: 270px;
    }


            /* ABOUT US SECTION */
    #about {
        max-width: 100%;
        background-image: url(../img/mediaqueries-about-us.png);
        gap: 0px;
    }

    .about-section {
        padding: 60px 50px 90px 50px;
        justify-content: center;
        align-items: center;
    }

    .about-section .section-title {
        align-self: start;
    }

    .about-responsive {
        display: flex;
        justify-content: center;
        width: 600px;
    }

    .about-responsive img {
        width: 600px;
    }

    .section-info {
        gap: 0;
    }

    .text-container {
        justify-content: center;
    }

    .about-img {
        display: none;
    }

            /* CONTACT US SECTION */
    #contact {
        max-width: 100%;
        background-image: url(../img/mediaqueries-contact-us.png);
        padding: 110px 10px;
    }

    #contact .section-title {
        padding: 30px 0 50px 60px;
    }

    .grid-area{
        grid-template-areas:
        "form"
        "maps"
        "social"
        ;
    }

    #mensaje{
        padding: 23px 80px 170px 20px;
    }


            /* FOOTER SECTION */
    .newsletter {
        padding: 0 0 20px 0;
    }

    .footer-container {
        gap: 0;
        display: grid;
        grid-template-areas:
        "logo logo logo"
        "categories help contact"
        ;
    }

    .footer-logo {
        width: 600px;
        height: 130px;
        grid-area: logo;
    }

    .footer-logo img {
        width: 150px;
   
    }

    .categories {
        grid-area: categories;
    }

    .help {
        grid-area: help;
    }

    .contact {
        grid-area: contact;
    }

    .links-container{
        width: 600px;
        justify-content: center;
    }
}




@media (max-width:767.98px) {

            /* BACKGROUND BODY */
    body {
        background-size: 100%;
        background-image: url(../img/background-responsive.png);
    }

            /* HEADER SECTION */
    .header {
        height: 55px;
    }

    .burger-menu {
        width: 0;
    }

    .header img {
        height: 23px;
    }

    .header-logo {
        left: 130px;
    }

    .register ul {
        gap: 13px;
    }

    .register img {
        width: 25px;
    }

    .cart-bubble {
        position: absolute;
        top: 10px;
        right: 56px;
        padding: 2px 5px;
        border-radius: 10px;
        font-size: 10px;
        font-weight: 600;
    }

    .menu {
        top: 55px;
        width: 300px;
    }



            /* TITLE SECTION */
    .section-title {
        padding: 0 0 30px 0;
    }
    
    .section-title h2 {
    font-size: 30px;
    }
    
    .section-title hr {
        width: 300px;
    }


            /* CART SECTION */
    .cart {
        top: 55px;
        right: 0;
    }

            /* CARDS SECTION */
    
    .news {
        padding: 70px 10px;
        width: 98%;
    }

    .news .section-title {
        padding: 0 25px 0;
    }

    .news .cards-categories {
        padding: 25px;
    }

    .cards-categories {
        overflow: auto;
        padding: 18px 0 22px 0;
    }

    .category {
        padding: 3px 25px;
        border-radius: 15px;
        font-size: 11px;
    }

    .products-card {
        gap: 14px;
    }

    .card {
        gap: 5px;
        padding: 10px;
        max-width: 170px;
        justify-content: space-between;
    }

    .card img {
        width: 145px;
    }

    .info-card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6px;
        padding: 5px 0;
    }

    .title-card {
        width: 145px;
        text-align: center;
    }

    .title-card h3 {
        font-size: 14px;
    }

    .price-card {
        font-size: 15px;
    }

    .btn-add {
        font-size: 10px;
        padding: 8px 0;
    }

    .load-container {
        padding: 30px 0 0 0;
    }

    .btn-load {
        padding: 10px 30px;
        font-size: 14px;
    }


            /* ABOUT US SECTION */
    #about {
        max-width: 100%;
        background-size: 100%;
        background-image: url(../img/responsive-background-about-us.png);
    }

    .about-section {
        padding: 60px 20px 0px 20px;
    }

    .about-responsive {
        display: flex;
        justify-content: center;
        width: 320px;
    }

    .about-responsive img {
        width: 320px;
    }


    .section-info {
        width: 320px;
        gap: 0;
    }
        
    .section-info h1{
        font-size: 30px;
        line-height: 45px;
    }

    .span-title {
        padding: 2px 15px 1px 7px;
    }

    .about-text{
        width: 320px;
        height: auto;
        padding: 30px;
    }

    .about-text p {
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
    }


            /* CONTACT US SECTION */
    
    #contact {
        max-width: 100%; 
    }

    #contact .section-title {
        padding: 10px 0 30px 30px;
    }

    .grid-area{
        grid-template-areas:
        "form"
        "social"
        ;
        grid-template-columns: 320px;
    }

    .maps-container,
    .maps {
        display: none;
    }

    
    .form input {
        width: 320px;
        font-size: 13px;
        padding: 10px;
    }

    .namemail {
        justify-content: center;
        flex-direction: column;
        width: 320px;
    }

    #mensaje {
        padding: 20px 10px 100px 10px;
    }

    .form button {
        width: 320px;
    }

    .contact-subtitle h2 {
        font-size: 23px;
        padding: 0 0 10px 0;
    }

    .grid-social {
        grid-template-areas: 
        "facebook"
        "instagram"
        "twitter"
        "email"
        ;
        width: 320px;
    }

    .social .contact-subtitle {
        justify-content: start;
        width: 320px;
    }

    .social {
        width: 320px;
    }


        /* FOOTER SECTION */
    .newsletter {
        width: 300px;
    }
    
    .email-nw {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 300px;
    }

    .email-nw input {
        padding: 5px;
        width: 280px;
        font-size: 13px;
    }

    .email-nw button {
        width: 140px;
        font-size: 14px;
    }

    .footer-logo {
        width: 320px;
        height: 40px;
        padding: 40px 0 60px 0;
    }

    .footer-logo img {
        width: 130px;
    }

    .links-container {
        display: flex;
        align-content: space-between;
        align-items: start;
        gap: 30px;
        width: 320px;
    }

    .footer-links h3 {
        font-size: 13px;
    }

    .footer-links a {
        font-size: 11px;
    }

    .hues-dr {
        padding: 25px 0;
        font-size: 11px;
    }
}