@media (max-width:991.98px){

            /* BACKGROUND BODY */
    body {
        background-size: 100%;
        background-image: url(../img/mediaqueries-hero.png);
    }

            /* MENU BURGER */

    .header-logo {
        height: 45px;
        position: absolute;
        left: 170px;
    }

    .burger-menu {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 45px;
    }

    .menu {
        position: fixed;
        top: 70px;
        left: 0;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: black;
        padding: 50px 40px;
        z-index: 3;
        /* transform: translateX(-200%); */
        display: none;
        transition: all 0.5s ease-in-out;
    }

    

    .overlay {
        position: absolute;
        top: 70px;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.4);
        display: none;
    }


            /* ABOUT US SECTION */
    #about {
        max-width: 100%;
        background-image: url(../img/mediaqueries-about-us.png);
        gap: 20px;
    }

    .about-section {
        padding: 60px 50px 90px 50px;
        justify-content: center;
        align-items: center;
    }

    .about-section .section-title {
        align-self: start;
    }

    .section-info {
        gap: 65px;
    }

    .text-container {
        justify-content: center;
    }

    .about-img {
        display: none;
    }

            /* CONTACT US SECTION */
    
    #contact {
        max-width: 100%;
        background-image: url(../img/mediaqueries-contact-us.png);
        padding: 110px 10px;
    }

    #contact .section-title {
        padding: 30px 0 50px 60px;
    }

    .grid-area{
        grid-template-areas:
        "form"
        "maps"
        "social"
        ;
    }

    #mensaje{
        padding: 23px 80px 170px 20px;
    }


            /* FOOTER SECTION */

    .newsletter {
        padding: 0 0 20px 0;
    }

    .footer-container {
        gap: 0;
        display: grid;
        grid-template-areas:
        "logo logo logo"
        "categories help contact"
        ;
    }

    .footer-logo {
        width: 600px;
        height: 130px;
        grid-area: logo;
    }

    .footer-logo img {
        width: 150px;
   
    }

    .categories {
        grid-area: categories;
    }

    .help {
        grid-area: help;
    }

    .contact {
        grid-area: contact;
    }

    .links-container{
        width: 600px;
        justify-content: center;
    }
}


@media (max-width:767.98px) {

            /* BACKGROUND BODY */
    body {
        background-size: 100%;
        background-image: url(../img/background-responsive.png);
    }

    .cards-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


            /* TITLE SECTION */
    .section-title {
        padding: 0 0 30px 0;
    }
    
    .section-title h2 {
    font-size: 30px;
    }
    
    .section-title hr {
        width: 300px;
    }


            /* ABOUT US SECTION */
    #about {
        max-width: 100%;
    }

    .about-section {
        padding: 60px 20px 0px 20px;
    }

    .about-responsive {
        display: flex;
        justify-content: center;
        width: 320px;
    }

    .about-responsive img {
        width: 320px;
    }


    .section-info {
        width: 320px;
        gap: 0;
    }
        
    .section-info h1{
        font-size: 30px;
        line-height: 45px;
    }

    .span-title {
        padding: 2px 15px 1px 7px;
    }

    .about-text{
        width: 320px;
        height: auto;
        padding: 30px;
    }

    .about-text p {
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
    }


            /* CONTACT US SECTION */
    
    #contact {
        max-width: 100%; 
    }

    #contact .section-title {
        padding: 0 0 30px 10px;
    }

    .grid-area{
        grid-template-areas:
        "form"
        "social"
        ;
        grid-template-columns: 320px;
    }

    .maps-container,
    .maps {
        display: none;
    }

    
    .form input {
        width: 320px;
    }

    .namemail {
        justify-content: center;
        flex-direction: column;
        width: 320px;
    }

    .form button {
        width: 320px;
    }

    .contact-subtitle h2 {
        font-size: 24px;
        padding: 0 0 10px 0;
    }

    .grid-social {
        grid-template-areas: 
        "facebook"
        "instagram"
        "twitter"
        "email"
        ;
        width: 320px;
    }

    .social .contact-subtitle {
        justify-content: start;
        width: 320px;
    }

    .social {
        width: 320px;
    }


        /* FOOTER SECTION */
    .newsletter {
        width: 300px;
    }
    
    .email-nw {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 300px;
    }

    .email-nw input {
        padding: 5px;
        width: 280px;
        font-size: 13px;
    }

    .email-nw button {
        width: 140px;
        font-size: 14px;
    }

    .footer-logo {
        width: 320px;
        height: 40px;
        padding: 40px 0 60px 0;
    }

    .footer-logo img {
        width: 130px;
    }

    .links-container {
        display: flex;
        align-content: space-between;
        align-items: start;
        gap: 30px;
        width: 320px;
    }

    .footer-links h3 {
        font-size: 13px;
    }

    .footer-links a {
        font-size: 11px;
    }
}